.link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 2rem;
  background-color: var(--lightgrey);
  transition: all 300ms ease-in-out;

  a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    fill: var(--blue);
    width: 11px;
  }

  &:hover {
    background-color: var(--blue);

    svg {
      fill: var(--lightgrey);
    }
  }
}
