.link {
  position: relative;
  height: 2rem;
  width: 4rem;
  margin-bottom: 2rem;
  background-color: var(--lightgrey);
  transition: all 300ms ease-in-out;

  @media only screen and (min-width: 768px) and (orientation: landscape) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 2rem;
    margin-bottom: 0;
  }

  a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    fill: var(--blue);
    width: 14px;
  }

  &:hover {
    background-color: var(--blue);

    svg {
      fill: var(--lightgrey);
    }
  }
}
