.content {
  font-family: Merriweather;
  font-weight: 300;
  color: var(--bluegrey);
  line-height: 2rem;
}

.projectDetails {
  opacity: 0;
  animation-name: slideUp;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
