.container {
  display: flex;
  margin: 5rem 0 0;

  a {
    border: 1px solid var(--lightgrey);
    margin-inline-end: 1.5rem;
    border-radius: 4px;
    transition: all 300ms ease-in-out;

    svg {
      display: block;
      fill: var(--bluegrey);
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      background-color: var(--red);
      border: 1px solid var(--white);

      svg {
        fill: var(--white);
      }
    }
  }
}
