.text {
  font-family: Merriweather;
  font-weight: 300;
  color: var(--bluegray);
  line-height: 2rem;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  letter-spacing: 0.4px;
  text-align: justify;
}
