.label {
  font-family: Poppins;
  font-weight: 600;
  display: block;
  color: var(--black);
  margin-bottom: 0.5em;

  &.red {
    color: var(--red);
    font-weight: 300;
  }

  &.serif {
    font-family: Merriweather;
    font-weight: 300;
  }
}
