:root {
  --black: #0d1f2d;
  --red: #ea2036;
  --white: #ffffff;
  --blue: #083d77;
  --lightgrey: #e6ebed;
  --bluegrey: #546e7a;
  --konstruktive: #ffff00;
  --jarvis: #00ffff;
  font-size: 14px;
  @media only screen and (min-width: 768px) and (orientation: landscape) {
    font-size: 16px;
  }
}

html,
body,
main {
  height: 100vh;
  margin: 0;
}

body {
  background: radial-gradient(#eee 2px, transparent 2px);
  background-size: 40px 40px;
  background-position: 20px 0px;

  a {
    font-family: Merriweather;
    font-weight: 300;
    color: var(--bluegrey);
    text-decoration: underline;
  }
}

.resumeDetails {
  opacity: 0;
  animation-name: slideUp;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
